#### EXAMPLE
# .html  : ignore specific file
# *.html : ignore all html files
# !a.html: except a.html
# html   : ignore *.html and html folders
# !html/ : don't ignore html folders, i.e. only ignore *.html
# html/  : ignore html folders
####

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac:
.DS_Store

# Intellij
.idea
*.iml

# Eclipse

# Java
target

# Maven
mvnw
.mvn
.cmd


# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# Other:
*.bak
*.log