<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/hibernate</property>
        <property name="connection.username">hibernate</property>
        <property name="connection.password">219275</property>

        <!-- JDBC connection pool (use the built-in) -->
        <!-- <property name="connection.pool_size">1</property> -->

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <!--  <property name="current_session_context_class">thread</property> -->

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="use_sql_comments">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <!-- XML Config : mapping resource or Annotation Config : mapping class -->
        <mapping class="com.testing.hibernate.entity.User"/>
        <mapping class="com.testing.hibernate.entity.UserEmbeddableAddress"/>
        <mapping class="com.testing.hibernate.entity.UserCollectionAddress"/>
        <mapping class="com.testing.hibernate.entity.UserOneToOneVehicle"/>
        <mapping class="com.testing.hibernate.entity.UserOneToManyVehicle"/>
        <mapping class="com.testing.hibernate.entity.UserWithUserType"/>

        <mapping class="com.testing.hibernate.entity.VehicleManyToOneUser"/>
        <mapping class="com.testing.hibernate.entity.UserManyToManyVehicle"/>
        <mapping class="com.testing.hibernate.entity.VehicleManyToManyUser"/>

        <mapping class="com.testing.hibernate.entity.Order"/>
        <mapping class="com.testing.hibernate.entity.OrderLine"/>

        <mapping class="com.testing.hibernate.entity.Vehicle"/>
        <mapping class="com.testing.hibernate.entity.TwoWheeler"/>
        <mapping class="com.testing.hibernate.entity.FourWheeler"/>

    </session-factory>
</hibernate-configuration>